<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Log in</title>
</head>
<style>
    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
</style>
<body>
<%= flash.now[:error] %>
<H1>Please Login</H1>
<div class="imgcontainer">
  <img src="img_avatar2.png" alt="Avatar" class="avatar">
</div>
<form name="login" action="index_submit" method="post" accept-charset="utf-8">
  <div class="container">
    <label for="login"><b>Login</b></label>
    <input type="text" name="login" placeholder="username" required>
    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="password" required>

    <button type="submit">Login</button>

  </div>
</form>
</body>
</html>